body{
    background-color: lightgrey;
}
h1{
font-size: 100px;
}
h1{
color: red;
}
h2{
color:black;
}
h3{
color:black;text-shadow:red;
}
li{
color:blanchedalmond;
text-align: right;
background-color:lightslategrey;
}
nav.navbar{
color:red;
text-align: right;
background-color:red;
}
h2{
font-style: italic;
}
h3{
font-style: bold;
}
p{
text-align: justify;
}
img.W1{
width: 250px;
}
img.W2{
width: 300px;
}
img.W3{
width: 400px;
}
a.navbar-brand{
font-style: oblique;
}
tr{
    background-color: red;
    font-style: italic;
 }

