body{
    background-color: blue;
}
h1{
color: red;
font-size: 50px;
}
h2{
color: green;
}
h1,h2{
color:purple
}
li
li.food{
color: orange;
}
li{
color: orchid;
}
h2{
font-style: italic;
}
p{
text-decoration: green;
}
h3{
text-shadow: indigo;
}
img.tacos{
width: 300px;
}
img.bread{
width: 150px;
}